.header {
  margin-top: 45px;
  padding-bottom: 41px;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
  overflow-x: hidden;
  margin: 0 auto;
  position: relative;
  padding-top: 45px;
}
@media screen and (max-width: 560px) {
  .header {
    margin: 0px 163px 0 0;
    padding-bottom: 32px;
    padding-top: 20px;
  }

  .header__logo {
    margin-left: 27px;
    max-width: 126px;
    height: 24px;
  }
}
@media screen and (min-width: 560px) and (max-width: 930px) {
  .header__logo {
    margin-left: 15px;
  }
}
