.card__list {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, 282px);
  gap: 20px 17px;
  padding: 0;
  margin: 0;
}

.card {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  list-style-type: none;
  overflow: hidden;
}

.card__image {
  width: 282px;
  height: 282px;
}

.card__image-wrapper {
  position: relative;
}

.card__image:hover {
  cursor: pointer;
}

.card__title {
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  font-size: 24px;
  font-weight: 900;
  line-height: 29px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.card__description {
  display: flex;
  background-color: #ffffff;
  color: black;
  padding: 5.09px 20px;
  align-items: center;
  justify-content: space-between;
}

.card__like-button {
  background: transparent url(../images/like-inactive.svg) center no-repeat;
  width: 21px;
  height: 18px;
  align-items: center;
  border: none;
  transition: opacity 0.3s linear 0s;
}

.card__like-button-active {
  background-image: url(../images/like-active.svg);
}

.card__like-button:hover {
  opacity: 0.5;
  cursor: pointer;
}

.card__delete-button {
  position: absolute;
  top: 18px;
  right: 15px;
  background: transparent url(../images/Trash.svg) center no-repeat;
  border: none;
  width: 18px;
  height: 19.3px;
  cursor: pointer;
  transition: opacity 0.3s linear 0s;
}

.card__delete-button:hover {
  opacity: 0.6;
  cursor: pointer;
}